@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav .navbar-nav li a{
    color: white !important;
    }

.ciders{
    margin: 1em 1em 1em 1em;
    width: 300px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #F5F5F5;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #3A5A40;
     width: 100%;
    padding-top: 1em;
}

.finePrint{
    font-size:x-small;
    margin-top: 5em;
    color: #DAD7CD;
}

.ciderImg{
    width: 100%;
    height: 197px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

h6{
    padding-top: 6px;
    color: white;
}

.names{
   background-color: gray;
   height: 2em;
   text-align: center;
}

p{
    margin: 0 .25em .25em .25em;
}